html,
body {
  height: 600px;
  width: 400px;
  position: relative;
  font-family: arial;
  background-color: #f1f2f8;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.center {
  text-align: center;
}

header {
  background-color: #192234;
  margin-left: -8px;
  margin-top: -20px;
  height: 75px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
.logo {
  width: 50px;
  height: 50px;
  margin-bottom: -12px;
  margin-left: -24px;
}
h1 {
  display: inline-block;
  color: #52c0cb;
  font-weight: lighter;
  font-family: Helvetica;
  font-size: xx-large;
  margin-left: 5px;
  cursor: default;
}

.pages {
  margin-bottom: 25px;
}
.file {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  width: 110px;
  cursor: pointer;
  border: 3px solid;
  padding: 0.35em 1.2em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
@media (min-width: 768px) {
  .file {
    padding: 0.25em 0.75em;
  }
}
.folder {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-left: 40px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  width: 110px;
  cursor: pointer;
  border: 3px solid;
  padding: 0.35em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
@media (min-width: 768px) {
  .folder {
    padding: 0.25em 0.75em;
  }
}
.active {
  box-shadow: 1px 1px 0px 0px, 1px 1px 0px 0px, 1px 1px 0px 0px, 1px 1px 0px 0px,
    1px 1px 0px 0px;
  top: 2px;
  left: 5px;
}

hr {
  margin-bottom: 30px;
  margin-left: -8px;
}

.btn-upload {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #326d6e;
  background-color: lightseagreen;
  width: 120px;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-upload:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  .btn-upload {
    padding: 0.25em 0.75em;
  }
}

.loader {
  border: 10px solid #e0dada;
  border-radius: 50%;
  border-top: 10px solid #449394;
  width: 70px;
  height: 70px;
  display: none;
  position: absolute;
  top: 275px;
  left: 160px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#qrcode {
  min-height: 150px;
  margin-top: 40px;
  margin-bottom: 5px;
}

#tooltip {
  border: 0.2rem solid #cccdcd;
  border-radius: 5px;
  color: #326d6e;
  background-color: #ffffff;
  display: none;
  position: absolute;
  padding: 0.5rem;
  height: 18px;
  width: 70px;
  left: 285px;
  top: 423px;
  z-index: 5;
}

#tooltip > div:nth-child(1) {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
}

#tooltip-pointer {
  background-color: #cccdcd;
  transform: rotate(45deg);
  position: absolute;
  display: none;
  height: 10px;
  width: 10px;
  left: 348px;
  top: 456px;
  z-index: 2;
}

#svg-download {
  margin-bottom: 0px;
  margin-left: 15px;
  -webkit-box-shadow: 0 2px 6px -6px #222;
  -moz-box-shadow: 0 2px 6px -6px #222;
  box-shadow: 0 2px 6px -6px #222;
}

.output-label {
  font-size: large;
}
#cid,
#link {
  display: inline-flex;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  width: 250px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: -11px;
  margin-right: 8px;
  margin-left: 4px;
  font-size: medium;
  border: 2px solid #c3c0c0;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 6px -6px #222;
  -moz-box-shadow: 0 2px 6px -6px #222;
  box-shadow: 0 2px 6px -6px #222;
  user-select: text;
  -webkit-user-select: text;
  touch-action: manipulation;
}
#cid:hover,
#link:hover {
  border-color: #cccdcd;
}
svg {
  display: inline-flex;
  background-color: white;
  width: 19px;
  height: 19px;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: -12px;
  margin-right: 14px;
  border: 2px solid #c3c0c0;
  color: #326d6e;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 6px -6px #222;
  -moz-box-shadow: 0 2px 6px -6px #222;
  box-shadow: 0 2px 6px -6px #222;
}
svg:hover {
  color: #175859;
  border-color: #cccdcd;
  cursor: pointer;
}

/* hide scrollbar but allow scrolling */
#cid,
#link {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
#cid::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
#link::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
