html,
body {
  height: 600px;
  width: 400px;
  position: relative;
  font-family: arial;
  font-size: medium;
  background-color: #f1f2f8;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.center {
  text-align: center;
}

header {
  background-color: #192234;
  margin-left: -8px;
  margin-top: -20px;
  height: 75px;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
.logo {
  width: 50px;
  height: 50px;
  margin-bottom: -12px;
  margin-left: -24px;
}
h1 {
  display: inline-block;
  color: #52c0cb;
  font-weight: lighter;
  font-family: Helvetica;
  font-size: xx-large;
  margin-left: 5px;
  cursor: default;
}

form {
  margin-top: 40px;
  align-items: center;
}
#key {
  display: inline-flex;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  width: 210px;
  height: 28px;
  margin-right: 10px;
  font-size: 14px;
  border: 1px solid #c3c0c0;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  align-items: left;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  user-select: text;
  -webkit-user-select: text;
  touch-action: manipulation;
}
#key:hover {
  border-color: #cccdcd;
}
#key::placeholder {
  opacity: 0.8;
}

.saved-key {
  margin-top: 5px;
  color: #22c55e;
}

.instructions {
  margin-top: 50px;
  text-align: left;
}
.instructions-link {
  font-family: monospace;
  color: #2563eb;
  font-size: small;
  border-bottom: 1px dotted #3b82f6;
  text-decoration: none;
}

.save-btn {
  appearance: none;
  background-color: #22c55e;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.save-btn:hover {
  background-color: #059669;
}

.remove-btn {
  appearance: none;
  background-color: #ef4444;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 16px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.remove-btn:hover {
  background-color: #dc2626;
}

.continue-btn {
  appearance: none;
  background-color: #3b82f6;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.continue-btn:hover {
  background-color: #2563eb;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
